**/*.py
**/*.css
**/*.csv
**/*.less
**/*.md
**/*.png
**/*.po
**/*.scss
**/*.txt
**/*.xml
**/*.yml
**/*.html
**/*.json
**/lib/**
.flake8
.coveragerc
Dockerfile
.gitignore
.eslint/
build/
dist/
coverage_html/
